* {
  font-family: "trebuchet MS";
color: #222222; 
box-sizing: border-box;
}

body{
  background-color: #EEF5FF ;
  font-family: 'Lato', sans-serif;
  margin:0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header{
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  top:0;
  background-color: #9EB8D9;
  padding:15px;
  width: 100%;
}

header img{
  width:120px;
  height:40px;
}
header .search {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 300px;
  height: 40px;
  background-color: #fff;
  border-radius: 20px;
  padding: 0 10px;
  margin: 0 10px;

}
header .search input{
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  padding: 0 10px;
  font-size: 1em;
  border-radius: 20px;
}
header .search input::placeholder{
  color: #9EB8D9;
  font-weight: 600;
}
header .search button{
  background-color: transparent;
  border: none;
  height: 100%;
  width: 40px;
  cursor: pointer;
}
header ul{
  display: flex;
  flex-basis: 45%;
  flex-direction: row;
  justify-content: space-between;
}
header ul li{
  list-style: none;
}
header ul li a{
  text-decoration: none;
  color:black;
}


.button{
  max-width: 175px;
  max-height:150px;
  padding:5px;
  width:100%;
  margin: 10px 0;
  background-color: #f1c40f;
  border:none;
  font-weight:900;
  font-size:1em;
  cursor:pointer;
}
.button:hover{
  background-color: #FFA500;
  transition: background-color 500ms;
}

.wrapper { 
  max-width: 1200px; 
  width: 100%; 
  position: relative; 

} 

.wrapper i { 
  height: 50px; 
  width: 50px; 
  background: #b47e92; 
  text-align: center; 
  line-height: 50px; 
  border-radius: 50%; 
  cursor: pointer; 
  position: absolute; 
  top: 50%; 
  font-size: 1.25 rem; 
  transform: translateY(-50%); 
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23); 
  z-index: 100;
} 

.wrapper i:first-child { 
  left: -38px; 

} 

.wrapper i:last-child { 
  right: -22px; 

} 

.wrapper .carousel { 
  display: grid; 
  grid-auto-flow: column; 
  grid-auto-columns: calc((100% / 3) - 12px); 
  gap: 26px; 
  overflow-x: auto; 
  scroll-snap-type: x mandatory; 
  scroll-behavior: smooth; 
  scrollbar-width: 0; 
} 

.carousel::-webkit-scrollbar { 
  display: none; 
} 

.carousel :where(.card, .img) { 
  display: flex; 
  align-items: center; 
  justify-content: center; 
} 

.carousel .card { 
  scroll-snap-align: start; 
  height: 500px; 
  list-style: none; 
  background: #fff; 
  border-radius: 8px; 
  display: flex; 
  cursor: pointer; 
  width: 98%; 
  padding-bottom: 15px; 
  align-items: center; 
  justify-content: center; 
  flex-direction: column; 
  position: relative;
} 

.card .img { 
  background: green; 
  width: 145px; 
  height: 145px; 
  border-radius: 50%; 

} 

.card .img img { 
  width: 140px; 
  height: 140px; 
  object-fit: cover; 
  border-radius: 50%; 
  border: 4px solid #fff; 
} 

.card h2 { 
  font-weight: 500; 
  font-size: 1.56rem; 
  margin: 30px 0 5px; 
} 

.card span { 
  color: #6a6d78; 
  font-size: 1.31rem; 

} 
.card .more-info {
  position: absolute;
  width: 100%;
  height: 100%;
  top:0;
  left:0;
  background-color: #9EB8D9;
  padding:15px;
  border-radius: 8px;
}

.invisible {
  display: none !important;
}
@media screen and (max-width: 900px) { 
  .wrapper .carousel { 
      grid-auto-columns: calc((100% / 2) - 9px); 

  } 
} 

@media screen and (max-width: 600px) { 
  .wrapper .carousel { 
      grid-auto-columns: 100%; 

  } 
}



footer{
  width:100%;
  text-align: center;
  background-color: #7C93C3;
  margin-top:30px;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
}
footer a{
  padding:10px;
  text-decoration: none;
  color:black;
}
footer p{
  margin-bottom:0;
}
footer span{
  font-size: 0.8em;
  font-weight: 400;
  margin:0;
  margin-right:10px;
}


@media (max-width:960px)
{
  header{
      flex-direction: column;
      padding-bottom:0;
      justify-content: space-around;
  }
  header .search{
      margin: 10px 0;
  }
  header ul {
    flex-direction: column;
    width: 100%;
    align-items: center;
    text-align: center;
  }
  header ul li{
      padding:10px 0;
      border-top: 1px solid black;
      width: 100%;
  }
  
  
  footer{
      max-width:100%;
      width:1000px;
      padding:0;
      margin:0;
      padding:10px 0;
  }
  
}
